@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
}

.header {
	font-family: "Kalam", cursive, sans-serif;
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	color: blue;
	text-shadow: 10px 5px 9px lawngreen;
}

.content {
	font-family: "Kalam", cursive, sans-serif;
	font-size: 30px;
	text-transform: capitalize;
	color: firebrick;
}

.second__content {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 30px;
	line-height: 1.33;
}

.third__content {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 10px;
	color: green;
	text-decoration: underline red;
	margin-bottom: 70px;
}

.main__content {
	line-height: 1.2;
	color: #2b2929;
	line-height: 1.875;
}

.main__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #2b2929;
}

.image {
	width: 1070px;
	height: 380px;
	border-radius: 8px;
}

.main__subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	color: #2b2929;
}