@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
}

.header {
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	font-style: italic;
	color: blue;
	text-shadow: 10px 5px 9px lawngreen;
	margin-bottom: 30px;
}

.krovato__section {
	max-width: 1920px;
	line-height: 1.875;
	color: #2b2929;
	margin: 0 auto;
	background-color: #F8F8F8;
}

.krovato__page_1 p:not(:last-child) {
	margin-bottom: 10px;
}

.krovato__page_1 {
	max-width: 1070px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.krovato__page {
	max-width: 1070px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.krovato__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	color: #2b2929;
	margin-bottom: 40px;
}

.image {
	width: 1070px;
	height: 380px;
	border-radius: 8px;
	margin-bottom: 40px;
}

.krovato__subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4;
	color: #2b2929;
	margin-bottom: 30px;
}

.krovato__list {
	margin-bottom: 40px;
}

.krovato__list li:not(:last-child) {
	margin-bottom: 20px;
}

.krovato__items {
	background: url(../img/krovato/mark.png) 0 0 / 32px no-repeat;
	padding-left: 47px;
}

.colections__wrapper {
	background: url(../img/coral/flower-pattern.png) center / contain no-repeat;
	margin-bottom: 50px;
}

.collections__container {
	font-size: 0px;
	width: 1236px;
	height: 563px;
	margin: 0 auto;
}

.collections__blocks {
	font-family: "Roboto", sans-serif;
	display: inline-block;
	font-size: 16px;
	width: 686px;
	height: 364px;
}

.collections__title {
	font-size: 74px;
	font-weight: 300;
	line-height: 0.743;
	text-transform: capitalize;
	padding-top: 40px;
	margin-bottom: 52px;
}

.collections__text {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.833;
	text-transform: capitalize;
	margin-bottom: 66px;
}

.collections__button {
	display: inline-block;
	background: #1E2832 url(../img/coral/button-icon.png) 12% 47%/30px no-repeat;
	font-size: 29px;
	text-transform: capitalize;
	color: #fff;
	padding: 19px 26px 19px 59px;
}

.block__image {
	display: inline-block;
	vertical-align: top;
	width: 424px;
	height: 542px;
	margin-left: 120px;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 160px 0;
}

.collections__image {
	margin: -20px -18px;
}

.eduplay__wrapper {
	background: url(../img/eduplay/bg-letters.webp) 0 0 / cover no-repeat;
	margin-bottom: 50px;
}

.eduplay__container {
	font-size: 0px;
	width: 1280px;
	margin: 0 auto;
}

.eduplay__blocks {
	font-family: "Quicksand", sans-serif;
	display: inline-block;
	width: 600px;
	height: 290px;
	font-size: 16px;
	color: #FFF;
	padding-top: 120px;
}

.eduplay__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 24px;
}

.eduplay__text {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.6;
	margin-bottom: 24px;
}

.eduplay__button {
	background: #FFF url(../img/eduplay/button-label.png) no-repeat 9% / 20px;
	padding: 13px 20px 12px 42px;
	width: 220px;
	height: 50px;
	color: #0d1216;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.56;
	border-radius: 8px;
}

.eduplay-block__img {
	display: inline-block;
	vertical-align: top;
	width: 500px;
	height: 497px;
	margin-left: 133px;
}

.footer {
	text-align: center;
}

.footer__link {
	display: inline-block;
	font-size: 30px;
	text-transform: capitalize;
	color: rgb(87, 255, 20);
	border: 3px solid rgba(243, 13, 13, 0.25);
	border-radius: 8px;
	padding: 25px;
	background-color: darkorange;
}