@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
}

.header {
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	font-style: italic;
	color: blue;
	text-shadow: 10px 5px 9px lawngreen;
	margin-bottom: 30px;
}

.krovato__section {
	max-width: 1920px;
	line-height: 1.2;
	color: #2b2929;
	line-height: 1.875;
	margin: 0 auto;
	background-color: #F8F8F8;
}

.krovato__page p:not(:last-child) {
	margin-bottom: 10px;
}

.krovato__page {
	max-width: 1070px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.krovato__title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	color: #2b2929;
	margin-bottom: 40px;
}

.image {
	width: 1070px;
	height: 380px;
	border-radius: 8px;
	margin-bottom: 40px;
}

.krovato__subtitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4;
	color: #2b2929;
	margin-bottom: 30px;
}

.krovato__list {
	max-width: 1070px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.krovato__list li:not(:last-child) {
	margin-bottom: 20px;
}

.krovato__items {
	padding-left: 47px;
	margin-bottom: 40px;
}

.krovato__container {
	max-width: 1920px;
	height: 582px;
	margin: 0 auto;
	margin-bottom: 70px;
	text-align: center;
}

.krovato__caption {
	font-size: 26px;
	font-weight: 600;
	line-height: 1.31;
	margin-bottom: 20px;
}

.krovato__blocks {
	font-size: 0;
	text-align: center;
	margin-bottom: 50px;
}

.krovato__blocks img {
	margin-bottom: 20px;
}

.krovato__block {
	display: inline-block;
	width: 300px;
	font-size: 16px;
	vertical-align: top;
}

.krovato__block:not(:last-child) {
	margin-right: 30px;
}


.instagram__container {
	margin: 0 auto;
	text-align: center;
	background-color: var(--Black-5, rgba(30, 40, 50, 0.05));
}

.instagram__sub-title {
	font-family: "Roboto", sans-serif;
	font-size: 50px;
	font-weight: 500;
	color: var(--Dark, #000);
	text-transform: capitalize;
}

.instagram__blocks {
	font-size: 0;
	padding: 100px 0;
}

.instagram__block:not(:last-child) {
	margin-right: 24px;
}

.instagram__blocks>h3 {
	margin-bottom: 60px;
}

.instagram__block {
	display: inline-block;
	width: 200px;
	height: 200px;
}